@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgb(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0, 0.4);
}

/* || TABLE */ /* || TABLE */ /* || TABLE */

table {
  width: 100%;
  color: #334155;
  border-collapse: collapse;
}

thead {
  top: 0;
  position: sticky;
}

th,
td {
  width: 20%;
  height: 2.5rem;
  text-align: center;
}

th {
  font-weight: 400;
  font-size: medium;
  background-color: #b2dfff;
}

td {
  font-size: small;
}

/* || FORM */ /* || FORM */ /* || FORM */

form {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #334155;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.7);
}

form > section {
  width: fit-content;
  padding: 1rem;
  margin-top: -10rem;
  border-radius: 0.5rem;
  background-color: white;
}

form > section > div {
  width: 15rem;
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

form > section > div > input {
  height: 2rem;
  outline: none;
  font-size: small;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #cbd5e1;
}

form > section > div > input:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

form > section > div:last-child {
  margin-top: 1.25rem;
  margin-bottom: 0.35rem;
}

form > section > div:last-child > button {
  border: none;
  height: 2rem;
  cursor: pointer;
  transition: 0.2s;
  font-size: medium;
  border-radius: 0.25rem;
  background-color: #bae6fd;
}

form > section > div:last-child > button:hover {
  background-color: #7dd3fc;
}

/* || Link Buttons */

.link {
  width: 3rem;
  height: 3rem;
  border: none;
  position: fixed;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  border-radius: 50%;
  font-size: xx-large;
  text-decoration: none;
}

.link > span {
  color: #2563eb;
  text-decoration: none;
}

.link.table {
  right: 1.5rem;
  bottom: 1.3rem;
  background-color: white;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.link.form {
  top: 1.3rem;
  right: 1.5rem;
  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 3px;
}

.link.table > span {
  color: #2563eb;
}

.link.form > span {
  line-height: 1;
  color: white;
  margin-bottom: 1rem;
  display: inline-block;
}
